<!doctype html>
<html lang="it">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>
<body>
  <header class="topbar">
    <div class="brand">{{ title }}</div>
    <nav class="nav">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('ppt') }}">Link PPT</a>
    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
